DATABASE_URL=your_supabase_url_here
SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here
G3_CATALOG_URL=https://catalog-api-cm1l.onrender.com/api/v1/products/0e319c09-7aa8-4162-b0dd-7f8e6f5a610a
G5_ORDERS_URL=https://pedidos-g5.onrender.com/orders

# Autenticación (G2)
G2_AUTH_URL=https://auth-minimarket-cloud.onrender.com
G2_AUTH_VALIDATE_ENDPOINT=/auth/validate
REQUEST_TIMEOUT=5000